.title{
    width:100%;
    margin:auto;
    margin-top:10vw;
    font-family: Arial, Helvetica, sans-serif;
    height:50%;
    justify-content: center;
    text-align: center;
}
body{
    font-family:'Times New Roman', Times, serif;
    width:100%;
}

body{
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url('assets/images/custcover.jpg');
    background-size:cover;
}
.links li{
    display:inline-block;
    margin-left:40px;
    color:white;
    background-color:peachpuff;
    height:100%;
    width:60px;
    box-sizing: border-box;
    padding:10px;
    text-align: center;


}
.custmenu{
    width:100%;
    text-align:center;
    padding:20px;
    color:white;
    font-size:x-large;
    font-style: italic;
    box-shadow: 0 0 6px black;
    z-index:2;
    position:absolute;
   
    
}


.h3{
    
    width:100%;
    margin:auto;
    margin-top:20px;
    margin-left:50px;
    
    display: inline-block;
    
}
.container{
    height:auto;
    width:85%;
    padding:40px;
    box-sizing:border-box;
    text-align: center;
    margin-top:50px;
    justify-content: space-around;
}

@media screen and (max-width:700px)
{
    .container{
        width:100%;
    }
}
.foodcard{
   display: inline-block;
    width:250px;
    margin:10px;
    background-color: white;
    height:auto;
    border-radius:10px;
    box-shadow: 0 0 10px #ccc;
    overflow:hidden;
    
}
.foodcard:hover{
    box-shadow: 0 0 10px yellow;
    
    transition:all 0.3s;
}
.foodimg{
    background-color:black;
    height:250px;
}
.foodimg h4{
    bottom:0px;
    
}
.descrip{
    width:90%;
    height:60px;
    padding:10px;
    overflow: hidden;
    margin:auto;
    font-size:x-small;
}
.dishname{
    width:100%;
    background-color: white;
    margin:auto;
    padding:10px;
    justify-content: center;
    height:40px;
   
    
    overflow:hidden;
    
   
}
.from{
    width:90%;
    overflow:hidden;
    padding:3px;
    font-size:small;
    font-style: italic;
    height:30px;
}
.amount{
    font-size: large;
    font-style: oblique;
}
.add{
    width:100%;
    background-color:orange;
    height:40px;
    border:none;
    outline:none;
    
}
.add:hover{
    background-color:lightgreen;
}


.adda{
    margin-left:10vh;
}