body{

    background-size: cover;
    background-attachment: fixed;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url('assets/images/back.jpg');
}
.navbar-nav{
    margin-left:50vw;
    
}
.navbar-nav li{
    margin-left:4vw;
}
.myform{
    width:40vw;
    background-color: white;
    padding:30px;
    box-sizing: border-box;
    margin:auto;
    margin-top:3vw;
    box-shadow: 0 0 10px white;
}

@media screen and (max-width:600px)
{
    .myform{
        width:100%;
    }
}